<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
    .artist
    {
        border-radius: 50%;
    }
</style>

<body>
    
    <div>
    
        <div>
            <div style="display: inline-block;">
                <img src="../img/liked-songs.png" alt="liked_songs" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>Liked Songs</span>
                <br>
                <span>Playlist &centerdot; 1,575 songs</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img src="../img/playlist_kpop.jpg" alt="playlist_kpop" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>KPOP</span>
                <br>
                <span>Playlist &centerdot; nold</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img src="../img/playlist_anime.jpg" alt="playlist_anime" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>Anime</span>
                <br>
                <span>Playlist &centerdot; nold</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img class="artist" src="../img/artist_h1_key.jpg" alt="artist_h1_key" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>H1-KEY</span>
                <br>
                <span>Artist</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img src="../img/album_nmixx_1st_intermixxion_single.jpg" alt="album_nmixx_1st_intermixxion_single" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>1st Intermixxion Single</span>
                <br>
                <span>Album &centerdot; NMIXX</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img class="artist" src="../img/artist_fifty_fifty.jpg" alt="artist_fifty_fifty" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>Fifty Fifty</span>
                <br>
                <span>Artist</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img class="artist" src="../img/artist_itzy.jpg" alt="artist_itzy" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>ITZY</span>
                <br>
                <span>Artist</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img class="artist" src="../img/artist_misamo.jpg" alt="artist_misamo" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>MISAMO</span>
                <br>
                <span>Artist</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img class="artist" src="../img/artist_twice.jpg" alt="artist_twice" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>TWICE</span>
                <br>
                <span>Artist</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img class="artist" src="../img/artist_vcha.jpg" alt="artist_vcha" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>VCHA</span>
                <br>
                <span>Artist</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img class="artist" src="../img/artist_xdinary_heroes.jpg" alt="artist_xdinary_heroes" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>Xdinary Heroes</span>
                <br>
                <span>Artist</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img class="artist" src="../img/artist_yoasobi.jpg" alt="artist_yoasobi" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>YOASOBI</span>
                <br>
                <span>Artist</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img src="../img/playlist_new_jeans.jpg" alt="playlist_new_jeans" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>NewJeans</span>
                <br>
                <span>Playlist &centerdot; nold</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img src="../img/playlist_one_ok_rock.jpg" alt="playlist_one_ok_rock" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>ONE OK ROCK</span>
                <br>
                <span>Playlist &centerdot; nold</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img class="artist" src="../img/artist_coldplay.jpg" alt="artist_coldplay" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>Coldplay</span>
                <br>
                <span>Artist</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img src="../img/playlist_real_drum.jpg" alt="playlist_real_drum" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>Real Drum</span>
                <br>
                <span>Playlist &centerdot; nold</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img src="../img/playlist_this_is_bigbang.jpg" alt="playlist_this_is_bigbang" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>This Is BIGBANG</span>
                <br>
                <span>Playlist &centerdot; Spotify</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img src="../img/album_nmixx_expergo.jpg" alt="liked_songs" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>expérgo</span>
                <br>
                <span>Album &centerdot; NMIXX</span>
            </div>
        </div>
    
        <div>
            <div style="display: inline-block;">
                <img src="../img/album_day6_shoot_me.jpg" alt="day6_you_were_beautiful" width="30px">
            </div>
            <div style="display: inline-block;">
                <span>Shoot Me : Youth Part 1</span>
                <br>
                <span>Album &centerdot; DAY6    </span>
            </div>
        </div>

    </div>

</body>
</html>