body{
    margin: 0;
}

.header{
    padding: 10px;
    border-bottom: 1px solid #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
}

.product_text{
    font-size: 20px;
}

.product_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

.product{
    display: flex;
    justify-content: space-between;
    width: 500px;
    border-radius: 10px;
    border: 1px solid #ededed;
    margin-bottom: 10px;
}

.image{
    height: 240px;
    margin-right: 25px;
}

.image_product{
    width: 160px;
    height: 240px;
    border-radius: 10px;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.description_containter{
    /* height: 200px; */
    /* padding: 25px; */
}

.description_containter a{
    text-decoration: none;
    color: #18583a;
    font-weight: 500;
}

.description_containter a:hover{
    color: aquamarine;
}

.decription_title{
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
}

.price_container{
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.price {
    font-size: larger;
    font-weight: bold;
}

.footer{
    color: white;
    background-color: #132322;
    padding: 30px;
    display: block;
    position: relative;
}

li{
    margin-right: 20px;
}

.social{
    list-style-type: none;
    display: flex;
}

@media screen and (max-width: 1200px) {
    .product {
      width: 100%;
    }

    .image{
        /* width: 400px; */
    }

  }