body{
    margin: 0;
}

.header{
    padding: 10px;
    border-bottom: 1px solid #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
}

.product_text{
    font-size: 20px;
}

.product_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

.product{
    display: flex;
    justify-content: space-between;
    width: 35%;
    border-radius: 10px;
    border: 1px solid #ededed;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.image{
    min-width: 160px;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

.image_product{
    height: 240px;
    border-radius: 10px 0 0 10px;
    vertical-align: middle;
    transition: 0.5s ease-in-out;
}

.image_product:hover{
    transform: scale(1.1);
}

.image:hover{
    border-radius: 10px 0 0 10px;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.description_containter{
    /* height: 200px; */
    /* padding: 25px; */
}

.description_containter a{
    text-decoration: none;
    color: #18583a;
    font-weight: 500;
    transition: color 0.3s;
}

.description_containter a:hover{
    color: rgb(34, 197, 142);
}

.decription_title{
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
}

.price_container{
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.price {
    font-size: larger;
    font-weight: bold;
}

.footer{
    color: white;
    background-color: #132322;
    padding: 30px;
    display: block;
    position: relative;
}

li{
    margin-right: 20px;
}

.social{
    list-style-type: none;
    display: flex;
}

@media screen and (max-width: 600px) {
    .product_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 320px;
        margin-right: 50px;
        margin-left: 15px;
    }

    .image{
        width: 320px;
        height: 480px;
    }

    .image_product{
        width: 320px;
        height: 480px;
        border-radius: 10px 10px 0 0;
    }
}

@media screen and (min-width: 600px) {
    .product {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .product {
        width: 35%;
    }
}
