a{
    height: 100px;
    width: 100px;
}

.display_inline{
    display: inline;
    background-color: yellow;
}

.display_block{
    display: block;
    background-color: grey;
}

.display_inline_block{
    display: inline-block;
    background-color: red;
}