body{
    font-family: sans-serif;
}

h1{
    color: blue;
    text-align: center;
    text-decoration: underline;
}

h2{
    text-align: center;
    text-transform: uppercase;
}

#long_text{
    text-align: justify;
    text-indent: 30px;
    letter-spacing: 6px;
}

#short_text{
    font-size: 24px;
    font-weight: bold;
    background: yellow;
    width: 50%;
    height: 200px;
    max-width: 30%;
    max-height: 100px;
}


.menu:link{
    background-color: grey;
    color: white;
}

.menu:visited{
    background-color: yellow;
}

.menu:hover{
 background-color: green;
}

.menu:active{
    background-color: white;
}